body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #141416;
  color: #e2e3e2;
  margin: 0;
  height: 100vh;
}
/* シークバー全体の高さ */
.tx {
  align-items: center;
  display: flex;
  margin: auto;
  gap: 13px;
  font-size: 44px;
  font-weight: bold;
}
#time {
  margin: 0;
  position: absolute;
  left: 93px;
  font-size: 14px; /* 必要に応じて */
  display: inline-block; /* ←これでアイコンと同じラインに並ぶ */
  align-self: center; /* Flexbox内で縦位置を真ん中に */
}
#file_name {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* 完全に中央に配置 */

  font-size: 14px; /* 必要に応じて */
  display: inline-block; /* ←これでアイコンと同じラインに並ぶ */
  align-self: center; /* Flexbox内で縦位置を真ん中に */
}

/* シークバー全体の高さ */
#seekBar {
  -webkit-appearance: none;
  height: 6px;
  border-radius: 5px;
  background: #444; /* ベースの背景色 */
  cursor: pointer;
  outline: none;
}

/* WebKit系（Chrome, Safariなど） */
#seekBar::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
  background: transparent; /* 親要素の背景を透過 */
}

#seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #54fc17;
  margin-top: -4px;
  cursor: pointer;
}

/* Firefox */
#seekBar::-moz-range-track {
  height: 6px;
  border-radius: 5px;
  background: transparent; /* 親要素の背景を透過 */
}

#seekBar::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #54fc17;
  border: none;
  cursor: pointer;
}

/* Edge/IE */
#seekBar::-ms-track {
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#seekBar::-ms-fill-lower {
  background: #54fc17; /* 進捗部分の色 */
  border-radius: 5px;
}

#seekBar::-ms-fill-upper {
  background: #444; /* 残り部分の色 */
  border-radius: 5px;
}

#seekBar::-ms-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #54fc17;
  border: none;
}

.video-container {
  position: relative;
  background: black;
  display: none;
}

video {
  width: 100%;
  min-height: 100vh;
  display: block;
}
.green {
  border-radius: 10px;
  background: #54fc17;
}
img {
  width: 17px;
}
#fileInput {
  display: none;
}

#selectBtn {
  color: #54fc17;
}
.imgs {
  gap: 1em;
  padding: 13px;
  display: flex;
  align-items: start;
}
.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  display: flex;
  flex-direction: column; /* ←縦方向に変更 */
  gap: 1em;
  padding: 13px;
  opacity: 0;
  transition: opacity 0.3s;
}

.controls button,
.controls input[type="range"] {
  margin: 0 6px;
}
.controls input[type="range"] {
  width: 99%; /* 横幅いっぱい */
}
.controls input[type="range"] {
  flex: 1;
}
